* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bgColor: rgb(1, 96, 58);
    --gr1: rgb(1, 96, 58);
    --gr2: rgb(2, 176, 106);
    --gr3: #40c9ff;
    --gr4: #e81cff;
    --gr5: #00ff87;
    --gr6: #60efff;
    --gr7: #0061ff;
    --gr8: #60efff;
    --color: #fefbff;
}

body {
    min-height: calc(100vh - 50px);
    background: linear-gradient(var(--gr5), var(--gr6)) no-repeat;
    color: var(--color);
}

.slider {
    margin: 50px auto;
    width: 90vw;
    height: clamp(25vh, 70vw, 80vh);

}

.sliderWrap {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.sliderContainer {
    --num: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    transition: .4s linear;
    cursor: grab;


}

.sliderContainer::-webkit-scrollbar {
    width: 0;
    height: 0;

}

.sliderItem {
    height: 100%;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.sliderImg {
    width: 100%;
    height: 100%;
    align-self: start;
    object-fit: contain;
}

.btn {
    width: clamp(25px, 10vw, 50px);
    height: clamp(25px, 10vw, 50px);
    font-size: clamp(14px, 5vw, 30px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-image: linear-gradient(90deg, var(--gr7), var(--gr8));
    background-size: 200%;
    color: #d4d4d4;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    transition: .2s linear;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.btn:active {
    color: #000;
}


.btn--left {
    left: 5px;
    background-position: 0;
}

.btn--right {
    right: 5px;

    background-position: 200%;
}

.btn--left:hover {
    background-position: 200%;
}

.btn--right:hover {
    background-position: 0;
}

.sliderCount {
    justify-self: center;
    background-image: linear-gradient(0deg, var(--gr7), var(--gr8));
    padding: clamp(5px, 1vw, 10px);
    margin: 2px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    font-size: clamp(12px, 5vw, 18px);
}